# Python / Cache
__pycache__/

# Environment Variables
.env

# Data and DB Folders (Recursive)
vector_db/
mongo-data/
*.wt
# Documents
documentos/
*.pdf
images/
logs/
flashrank_cache/
# Other
*.sqlite3
chroma.sqlite3